/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* tablets */
@media (max-width: 991px) {


}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {

}

/* mobile or only mobile */
@media (max-width: 767px) {
	.highlight-text-center{
		text-align: center
	}
	.skill-card-style{
		width: 100%
	}
	.sidebar{
		width: 220px;
	}	
	.content-wrapper {
    	margin-left: 220px;
	}
	.profile-pic-section{
	    padding: 20px 10px 3px 10px
	}
	.profile-pic-border, .profile-image{
		width: 70px;
		height: 70px
	}
	.user-name,.email-txt{
		font-size: 14px !important
	}
	.sidebar-nav-menu>li>a {
		padding: 8px;
		font-size: 12px
	}

}

/*only for desktop screen*/
@media (min-width: 1281px) {

}

/*Ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	

}
/*For ipad pro*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2){
	.company-img{
		padding: 90px 0px
	}
 	.company-img2{
 		padding: 122px 0px
 	}

}

/*Mobileview Portrait mode*/
@media (max-width: 767px) and (orientation:portrait) {
   .sidebar, .content-wrapper{
   		display:none;
   }
   .message{
   		display: block;
   }
   body{
   	background:#425c5a;
   }
}
