/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* tablets */
@media (max-width: 991px) {


}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {

}

/* mobile or only mobile */
@media (max-width: 767px) {
	.highlight-text-center{
		text-align: center
	}
	.skill-card-style{
		width: 100%
	}

}

/*only for desktop screen*/
@media (min-width: 1281px) {

}

/*Ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.skill-card-style{
		width: 100%
	}
	.skills-vector-image{
		margin-top: 40vh
	}

}
/*For ipad pro*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2){

}