/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* tablets */
@media (max-width: 991px) {
.about-card{
		background-image: none
	}

}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {

}

/* mobile or only mobile */
@media (max-width: 767px) {
	.highlight-text-center{
		text-align: center
	}
	.profile-details{
		padding-top: 15px;
		text-align: center
	}
	
}
@media (min-width:831px){
	.qualify-desk-view{
		display: block
	}
	.qualify-mob-view{
		display: none;
	}
}
/*Large mobile device*/
@media (max-width: 830px) {
	.sidebar{
		width: 190px
	}	
	.content-wrapper {
    	margin-left: 190px;
    	padding-top: 35px    	
	}
	.profile-pic-section{
	    padding: 20px 10px 3px 10px
	}
	.logo-section{
		padding: 12px 10px;
	}
	.user-name{
		font-size: 20px !important
	}
	.sidebar-nav-menu>li>a {
		padding: 8px;
		font-size: 12px
	}
	.profile-pic-border, .edu-image{
		display: none
	}
	.exp-sec-space, .qualify-sec-space{
		padding-top: 25px
	}
	.edu-sec-space{
		padding-top: 0
	}
	.sidebar-nav-menu{
		padding: 10px 0px
	}
	.designation{
		font-size: 11px
	}
	.qualify-mob-card{
		width: 100%;
		padding: 7px;
		border-left: 2px solid #c99c33
	}
	.qualify-mob-card p{
		font-size: 12px
	}
	.qualify-mob-view{
		display: block
	}
	.qualify-desk-view{
		display: none
	}
	.home-sec{
    	padding-top: 50px
	}
	.mobileview-none{
		display: none
	}
	.home-gif3{
		top: 86%
	}
	.home-gif4{
		bottom: 47%;
		right: 2%
	}
	.home-gif2,.home-gif5,.home-gif7, .home-gif6{
		display: none
	}
	.home-sec h1{
		font-size: 38px
	}
	.tech-skill-name{
		font-size: 12px
	}
	.tech-percent{
		font-size: 14px
	}

}

/*only for desktop screen*/
@media (min-width: 1281px) {

}

/*Ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	
}
/*For ipad pro*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2){
	.company-img{
		padding: 90px 0px
	}
 	.company-img2{
 		padding: 122px 0px
 	}

}

/*Mobileview Portrait mode*/
@media (max-width: 767px) and (orientation:portrait) {
   .sidebar, .content-wrapper{
   		display:none
   }
   .message{
   		display: block
   }
   body{
   		background:#425c5a
   }
}
