/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

html {
    scroll-behavior: smooth
}

body {
    background: #fff;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #abacae

}

h1, h2, h3, h4 {
    color: #010101;
    font-weight: 700;
    font-family: 'Poppins', sans-serif
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear
}

a:hover {
    text-decoration: none
}

a a:focus {
    outline: none
}

p {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 15px
}
.margin-t-20{
    margin-top: 20px;

}
/*============
Colors
===========*/

.primary-dark-bg{
    background-color: #3d5654
}
.primary-dark-font{
    color: #425c5a
}
.primary-light-bg{
    background-color: #425c5a
}
.content-light-bg{
    background-color: #e1eceb
}
.secondary-dark-bg{
    background-color: #c99c33
}
.secondary-dark-font{
    color: #c99c33
}
.white-font{
    color: #fff;
}
/*====================
Initial start page
==================*/

.fingerprint-section {
    position: absolute;
    top: 50vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto

}

.proceed-btn-section {
    margin: 50px 0px
}

.gradient-btn {
    border-radius: 25px;
    background: -webkit-gradient(linear, right top, left top, from(#45E6EF), to(#088FD9));
    background: linear-gradient(270deg, #45E6EF 0%, #088FD9 100%);
    box-shadow: 0px 8px 15px lightblue;
    -webkit-box-shadow: 0px 8px 15px lightblue;
    -moz-box-shadow: 0px 8px 15px lightblue;
    color: #fff;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid #45E6EF !important
}

.gradient-btn:hover {
    background: #fff;
    color: #088FD9;
    border: 1px solid #088FD9 !important

}

.finger-print-img {
    width: 150px;
    height: 150px

}

/*=================
Sidebar
==================*/
.sidebar {
    box-shadow: 10px 15px 30px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 10px 15px 30px 1px rgba(0, 0, 0, .1);
    moz-box-shadow: 10px 15px 30px 1px rgba(0, 0, 0, .1);
    height: 100vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 0;
    padding-right: 0
}
.sidebar-nav-menu{
    list-style-type: none;
    padding: 30px 0px

}
.sidebar-nav-menu>li>a{
    padding:12px 18px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 25px;
    color: #fff
}
.sidebar-nav-menu>li{
    margin-left: 10px;
}
.sidebar-nav-menu-icon{
    margin-right: 12px;
    font-size: 16px
}
.profile-pic-section{
    padding: 40px 10px;
    border-top-right-radius: 25px;
}
.profile-image{
    width: 120px;
    height: 120px;
}
.profile-pic-border{
    border-radius: 50%;
    /*border: 1px solid olivedrab;*/
    width: 120px;
    height: 120px;
    background: linear-gradient(to right, #425c5a,#c99c33);

}
/*=======================*/

/*======================
      Content
======================*/
.content-wrapper{
    padding: 20px 30px;
}
.card-style{
    background-color: #fff;
    border-radius: 20px;
    padding: 25px
}

