/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

html {
    scroll-behavior: smooth
}

body {
    background: #fff;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    /*color: #abacae*/
    color: #303952;

}

h1, h2, h3, h4, h5, h6 {
    color: #010101;
    font-family: 'Poppins', sans-serif
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear
}

a:hover {
    text-decoration: none
}

a a:focus {
    outline: none
}

p {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 15px
}
.margin-t-20{
    margin-top: 20px;

}
.fancy-title{
    font-weight: 505 !important;
    margin-bottom: 20px;
    font-size: 18px
}
.margin-bt-none{
    margin-bottom: 0 !important
}
.margin-top-none{
    margin-top: 0 !important
}
.padding-right-none{
    padding-right: 0
}
.padding-left-none{
    padding-left: 0
}
.margin-rt-none{
    margin-right: 0 !important
}
/*============
Colors
===========*/

.primary-dark-bg{
    background-color: #3d5654
}
.primary-light-bg{
    background-color: #425c5a
}
.primary-dark-font{
    color: #425c5a
}
.primary-light-font{
    color: #425c5a
}
.content-light-bg{
    background-color: #e1eceb
}
.secondary-dark-bg{
    background-color: #c99c33
}
.secondary-dark-font{
    color: #c99c33
}
.white-font{
    color: #fff;
}
.white-bg{
    background-color: #fff
}
.dark-bg-font{
    color: #abacae
}
/*====================
Initial start page
==================*/

.fingerprint-section {
    position: absolute;
    top: 50vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

/*.proceed-btn-section {
    margin: 50px 0px
}*/

/*.gradient-btn {
    border-radius: 25px;
    background: -webkit-gradient(linear, right top, left top, from(#45E6EF), to(#088FD9));
    background: linear-gradient(270deg, #45E6EF 0%, #088FD9 100%);
    box-shadow: 0px 8px 15px lightblue;
    -webkit-box-shadow: 0px 8px 15px lightblue;
    -moz-box-shadow: 0px 8px 15px lightblue;
    color: #fff;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid #45E6EF !important
}

.gradient-btn:hover {
    background: #fff;
    color: #088FD9;
    border: 1px solid #088FD9 !important

}*/

.finger-print-img {
    width: 150px;
    height: 150px;
    cursor: pointer

}

/*=================
Sidebar
==================*/
.sidebar {
    box-shadow: 10px 15px 30px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 10px 15px 30px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 10px 15px 30px 1px rgba(0, 0, 0, .1);
    -o-box-shadow: 10px 15px 30px 1px rgba(0, 0, 0, .1);
    /*height: 100vh;*/
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 0;
    padding-right: 0
}
.sidebar-nav-menu{
    list-style-type: none;
    padding: 30px 0px

}
.sidebar-nav-menu>li>a{
    padding:12px 18px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 25px;
    color: #fff
}
.sidebar-nav-menu>li{
    margin-left: 10px;
}
.sidebar-nav-menu-icon{
    margin-right: 12px;
    font-size: 16px
}
.profile-pic-section{
    padding: 40px 10px;
    border-top-right-radius: 25px;
}
.profile-image{
    width: 120px;
    height: 120px;
}
.profile-pic-border{
    border-radius: 50%;
    /*border: 1px solid olivedrab;*/
    width: 120px;
    height: 120px;
    background: linear-gradient(to right, #425c5a,#c99c33);

}
/*=======================*/

/*======================
      Content
======================*/
.content-wrapper{
    padding: 20px 30px;
}
.card-style{
    border-radius: 20px;
    padding: 25px
}

/*===================
Home Component
======================*/
.objective-icon{
    margin-right: 12px;
    font-size: 18px;  
}
.objective-font{
    font-weight: 500;
    font-size: 15px;
}
.display-inline{
    display: inline-flex;
}
.home-section-space{
    margin-top: 50px;
}
.personal-info-hr{
    margin-top: 10px !important
}

.personal-info-sec{
    padding-top: 20px;
    padding-bottom: 40px;
}
.highlight-view {
    background: #fff;    
    padding: 18px 35px;
    position: relative;
    overflow: hidden;
}
.highlight-topview:before, .highlight-topview:after {
    content: "";
    display: block;
    background: #e1eceb;
    position: absolute;
    top: -9px;   
    width: 20px;
    height: 20px;
    border-radius: 25px;
}

.highlight-view-left:before{
     left: -9px;
}
.highlight-view-right:after{
    right: -9px;
}

.highlight-bottomview:before, .highlight-bottomview:after{
    content: "";
    display: block;
    background: #e1eceb;
    position: absolute;
    bottom: -9px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
}

.dashed-border{
    border-top:1px dashed #eff5f4;
    border-width: 2px;
    background-color: #fff;
    margin: 0px 11px
}
.green-gradient {
    background-image: linear-gradient(to right, #1cd8d2 0%, #11ffbd 100%);
}
.orange-gradient {
    background-image: linear-gradient(to right, #f12711 0%, #f5af19 100%);
}
.pale-green-gradient {
    background-image: linear-gradient(to right, #A3CB38 0%, #C4E538 100%);
}
.pink-gradient {
    background-image: linear-gradient(to right, #e84393 0%, #fd79a8 100%);
}
.blue-gradient {
    background-image: linear-gradient(to right, #0984e3 0%, #74b9ff 100%);
}
.highlight-icon {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 20px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    -webkit-box-shadow: 0px 8px 15px 0px rgba(187, 187, 187, 0.18);
    box-shadow: 0px 8px 15px 0px rgba(187, 187, 187, 0.18);
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
}
.highlight-icon i {
    position: relative;
    color: #fff;
    font-size: 17px;
    display: block;
    -webkit-background-clip: text;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: -8px;
    margin-left: -8px;
}
.highlight-content p{
    margin-top: 11px;
    /*color: #010101*/
}
.highlight-card-top-border{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.highlight-card-bottom-border{
     border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/*===================
Skill Component
======================*/
/*.skills-title{
    padding: 40px 0px 0px 70px;
}*/

.skills-sec-space{
    padding: 100px 0px;
}
.kotlin-card{
    height: 220px
}
.kotlin-card img{
    width: 90px;
    height: 90px
}
.skills-sec-space h5{
    padding-top: 10px
}
.skill-percent{
    font-size: 30px;
    color: rgba(0,0,0,.4);
}
.skill-card-width{
    width: 250px;
}
.java-card{
    height: 340px;
    margin-top: 30px
}
.java-card img{
    width: 150px;
    height: 150px
}
.android-card{
    height: 350px
}
.android-card img{
    width: 180px;
    height: 180px
}
.db-card{
    height: 220px;
    margin-top: 30px
}
.db-card img{
    width: 80px;
    height: 80px
}
.nativescript-card{
    height: 200px;
}
.nativescript-card img{
    width: 70px;
    height: 70px
}
.vuejs-card{
    height: 370px;
    margin-top: 30px
}
.skill-img-sec{
    background-color: #f7f6fe;
    height: 100vh;
}
.skill-card-style{
    padding: 15px 20px;
    border-radius: 7px;
    margin-bottom: 20px;
    width: 100%
}
.skill-card-outer-space{
    padding-top: 100px;
    padding-bottom: 100px
}
.vertical-center{
     align-self: center;
}

/*===========================
    Qualification Component
=============================*/
.qualify-card{
    padding: 15px 5px;
    border-radius: 2px;
    margin-top: 40px;
    width: 100%
}
.qualify-card i{
    font-size: 18px;
    font-weight: bold
}
.qualify-image{   
    margin: 30px 0px
}
.qualify-sec-space{
    padding: 70px 0px
}

/*===========================
    Experience Component
=============================*/
.exp-sec-space{
    padding: 50px 0px
}
.exp-card{
    border-radius:7px;
    padding: 25px;
}
.company-img{
    padding: 20px 0px
}
.company-img2{
    padding: 40px 0px
}